<div class="container">
	<form >
    <fieldset class="form-group">
    <legend>Conocer:</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Estado de evaluación
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
        Detalle de evaluación respondida
      </label>
    </div>
  </fieldset>
	  <label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de evaluación</label>
		<div class="dropdown">
			<button ngChange class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			{{selectedTipo}}
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li *ngFor='let tipo of tipoEvaluacion' (click)="selectedTipo=tipo"><a>{{tipo}}</a></li>
			</ul>
		</div>
    <div class="form-group">
      <label for="exampleSelect2">Nombre de evaluación</label>
      <select multiple class="form-control" id="exampleSelect2">
        <option>Evaluacion 1</option>
        <option>Evaluacion 2</option>
        <option>Evaluacion 3</option>
        <option>Evaluacion 4</option>
        <option>Evaluacion 5</option>
      </select>
    </div>
		<div>
      <button type="submit" class="btn btn-primary">Aceptar</button>
		</div>
<div class="form-group">
    <label for="exampleTextarea">Resultado</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
	<div>
  <button type="submit" class="btn btn-primary">Generar PDF</button>
</div>
	</form>
</div>
