<div class="container">
	<form >
	  <label class="mr-sm-2" for="inlineFormCustomSelect">Curso</label>
		<div class="dropdown">
 		 <button ngChange class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
 		 {{selectedCurso}}
 		 <span class="caret"></span>
 		 </button>
 		 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
 			 <li *ngFor='let curso of cursos' (click)="selectedCurso=curso	"><a>{{curso}}</a></li>
 		 </ul>
 	 </div>
    <div class="form-group">
    <label for="exampleSelect2">Estudiantes</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option>Estudiante 1</option>
      <option>Estudiante 2</option>
      <option>Estudiante 3</option>
      <option>Estudiante 4</option>
      <option>Estudiante 5</option>
    </select>
  </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
    <button type="submit" class="btn btn-primary">Aceptar</button>
	</form>
</div>
