
<div class="container">
	<div class="dropdown">
	 <button ngChange class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	 {{selectedCurso.descripcion}}
	 <span class="caret"></span>
	 </button>
	 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		 <li *ngFor='let curso of cursos' (click)="selectedCurso=curso"><a>{{curso.descripcion}}</a></li>
	 </ul>
		<button type="button" (click)="agregarCurso()" class="btn btn-primary">Asignar</button>
	</div>

	<div class="form-group" style="margin-top: 150px">
	    <label for="exampleTextarea">Cursos asignados:</label>
	    <textarea [ngModel]="cursosProfesor" class="form-control" id="exampleTextarea" rows="3"></textarea>
	  </div>

</div>
