<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"  aria-expanded="false">Registrar<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a class="nav-link" [routerLink]="['/registroUsuario']">Registrar Usuario</a></li>
						<li><a class="nav-link" [routerLink]="['/registroEvaluacion']">Registrar Evaluación</a></li>
						<li><a class="nav-link" [routerLink]="['/registroPregunta']">Registrar Pregunta</a></li>
						<li><a class="nav-link" [routerLink]="['/registroCurso']">Registrar Curso</a></li>
						<li><a class="nav-link" [routerLink]="['/registroTema']">Registrar Tema</a></li>
						<li><a class="nav-link" [routerLink]="['/registroSubtema']">Registrar Subtema</a></li>
					</ul>
				</li>
				<li><a class="nav-link" [routerLink]="['/habilitarEvaluacion']">Habilitar Evaluación</a></li>
				<li><a class="nav-link" [routerLink]="['/matricularEstudiante']">Matricular Estudiante</a></li>
				<li><a class="nav-link" [routerLink]="['/conocerEvaluacion']">Conocer Evaluación</a></li>
				<li><a class="nav-link" [routerLink]="['/asignarProfesor']">Asignar Profesor</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="navbar-link" [routerLink]="['/login']">{{loginLabel}}</a></li>
			</ul>
			</div>
	</div>
</nav>
<div style="padding-top:70px">
<router-outlet></router-outlet>
</div>
