<div class="container">
	<form >
	  <label class="mr-sm-2" for="inlineFormCustomSelect">Curso</label>
	  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
	    <option selected>Escoger...</option>
	    <option value="1">One</option>
	    <option value="2">Two</option>
	    <option value="3">Three</option>
	  </select>
	<div class="form-group row">
	  <label for="example-id-input" class="col-2 col-form-label">Nombre de evaluación:</label>
	  <div class="col-10">
	    <input class="form-control" type="id" id="example-id-input">
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-carne-input" class="col-2 col-form-label">Puntaje total:</label>
	  <div class="col-10">
	    <input class="form-control" type="carne" id="example-carne-input">
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-nacimiento-input" class="col-2 col-form-label">Porcentaje de la nota final del curso:</label>
	  <div class="col-10">
	    <input class="form-control" type="nacimiento" id="example-nacimiento-input">
	  </div>
	</div>
	<label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de evaluación:</label>
	  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
	    <option selected>Escoger...</option>
	    <option value="1">Formativa</option>
	    <option value="2">Sumativa</option>
	  </select>
	<div class="form-group row">
	  <label for="example-apellido2-input" class="col-2 col-form-label">Tiempo en minutos máximo disponible para completar la evaluación: </label>
	  <div class="col-10">
	    <input class="form-control" type="apellido2" id="example-apellido2-input">
	  </div>
	</div>
	<div class="form-check">
    <label> Tipo de pregunta </label>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Marque con equis (Selección única)
	</label>
  </div>
	  <div class="form-group row">
	  <label for="example-apellido2-input" class="col-2 col-form-label">Puntaje</label>
	  <div class="col-10">
	    <input class="form-control" type="apellido2" id="example-apellido2-input">
	  </div>
	</div>
	<div class="form-group">
    <label for="exampleSelect2">Preguntas</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option>Pregunta 1</option>
      <option>Pregunta 2</option>
      <option>Pregunta 3</option>
      <option>Pregunta 4</option>
      <option>Pregunta 5</option>
    </select>
  </div>
	  <button type="submit" class="btn btn-primary">Agregar</button>
	  <div class="form-check">
      <label class="form-check-label">
	  <input type="checkbox" class="form-check-input">
      Complete
	</label>
  </div>
	  <div class="form-group row">
	  <label for="example-apellido2-input" class="col-2 col-form-label">Puntaje</label>
	  <div class="col-10">
	    <input class="form-control" type="apellido2" id="example-apellido2-input">
	  </div>
	</div>
    <div class="form-group">
    <label for="exampleSelect2">Preguntas</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option>Pregunta 1</option>
      <option>Pregunta 2</option>
      <option>Pregunta 3</option>
      <option>Pregunta 4</option>
      <option>Pregunta 5</option>
    </select>
  </div>
	  <button type="submit" class="btn btn-primary">Agregar</button>
	  <div class="form-check">
      <label class="form-check-label">
	  <input type="checkbox" class="form-check-input">
      Desarrollo
    </label>
  </div>
	<div class="form-group row">
	  <label for="example-apellido2-input" class="col-2 col-form-label">Puntaje</label>
	  <div class="col-10">
	    <input class="form-control" type="apellido2" id="example-apellido2-input">
	  </div>
	</div>
    <div class="form-group">
    <label for="exampleSelect2">Preguntas</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option>Pregunta 1</option>
      <option>Pregunta 2</option>
      <option>Pregunta 3</option>
      <option>Pregunta 4</option>
      <option>Pregunta 5</option>
    </select>
  </div>
 	  <button type="submit" class="btn btn-primary">Agregar</button>
	<label class="mr-sm-2" for="inlineFormCustomSelect">Opción de presentación de preguntas:</label>
	  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
	    <option selected>Escoger...</option>
	    <option value="1">En orden de selección</option>
	    <option value="2">Aleatoriamente</option>
	  </select>
<button type="submit" class="btn btn-primary">Generar PDF</button>
<button type="submit" class="btn btn-primary">Aceptar</button>
	</form>
</div>
