<div class="container">
	<form >
	  <label class="mr-sm-2" for="inlineFormCustomSelect">Curso</label>

		<div class="dropdown">
			<button ngChange class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			{{selectedCurso}}
			<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li *ngFor='let curso of cursos' (click)="selectedCurso=curso	"><a>{{curso}}</a></li>
			</ul>
		</div>

	<div class="form-group row">
	  <label for="example-id-input" class="col-2 col-form-label">Nombre de evaluación:</label>
	  <div class="col-10">
	    <input class="form-control" type="id" id="example-id-input">
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-carne-input" class="col-2 col-form-label">Puntaje total:</label>
	  <div class="col-10">
	    <input class="form-control" type="carne" id="example-carne-input">
	  </div>
	</div>
	<div class="form-group row">
	  <label for="example-nacimiento-input" class="col-2 col-form-label">Porcentaje de la nota final del curso:</label>
	  <div class="col-10">
	    <input class="form-control" type="nacimiento" id="example-nacimiento-input">
	  </div>
	</div>
	<label class="mr-sm-2" for="inlineFormCustomSelect">Tipo de evaluación:</label>
	<div class="dropdown">
		<button ngChange class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		{{selectedTipo}}
		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li *ngFor='let tipo of tipoEvaluacion' (click)="selectedTipo=tipo"><a>{{tipo}}</a></li>
		</ul>
	</div>
	<div class="form-group row">
	  <label for="example-apellido2-input" class="col-2 col-form-label">Tiempo en minutos máximo disponible para completar la evaluación: </label>
	  <div class="col-10">
	    <input class="form-control" type="apellido2" id="example-apellido2-input">
	  </div>
	</div>
	<div class="form-check">
    <label for="example-apellido2-input" class="col-2 col-form-label">Tipo de pregunta </label>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Marque con equis (Selección única)
	</label>
  </div>
	  <div class="form-group row">
	  <label for="example-apellido2-input" class="col-2 col-form-label">Puntaje</label>
	  <div class="col-10">
	    <input class="form-control" type="apellido2" id="example-apellido2-input">
	  </div>
	</div>
	<div class="form-group">
    <label for="exampleSelect2">Preguntas</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option>Pregunta 1</option>
      <option>Pregunta 2</option>
      <option>Pregunta 3</option>
      <option>Pregunta 4</option>
      <option>Pregunta 5</option>
    </select>
  </div>
	  <button type="submit" class="btn btn-primary">Agregar</button>
	  <div class="form-check">
      <label class="form-check-label">
	  <input type="checkbox" class="form-check-input">
      Complete
	</label>
  </div>
	  <div class="form-group row">
	  <label for="example-apellido2-input" class="col-2 col-form-label">Puntaje</label>
	  <div class="col-10">
	    <input class="form-control" type="apellido2" id="example-apellido2-input">
	  </div>
	</div>
    <div class="form-group">
    <label for="exampleSelect2">Preguntas</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option>Pregunta 1</option>
      <option>Pregunta 2</option>
      <option>Pregunta 3</option>
      <option>Pregunta 4</option>
      <option>Pregunta 5</option>
    </select>
  </div>
	<div>
	  <button type="submit" class="btn btn-primary">Agregar</button>
	</div>
	  <div class="form-check">
      <label class="form-check-label">
	  <input type="checkbox" class="form-check-input">
      Desarrollo
    </label>
  </div>
	<div class="form-group row">
	  <label for="example-apellido2-input" class="col-2 col-form-label">Puntaje</label>
	  <div class="col-10">
	    <input class="form-control" type="apellido2" id="example-apellido2-input">
	  </div>
	</div>
    <div class="form-group">
    <label for="exampleSelect2">Preguntas</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option>Pregunta 1</option>
      <option>Pregunta 2</option>
      <option>Pregunta 3</option>
      <option>Pregunta 4</option>
      <option>Pregunta 5</option>
    </select>
  </div>
	<div>
 	  <button type="submit" class="btn btn-primary">Agregar</button>
	</div>
	<label class="mr-sm-2" for="inlineFormCustomSelect">Opción de presentación de preguntas:</label>
	<div class="dropdown">
		<button ngChange class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		{{selectedPresentacion}}
		<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<li *ngFor='let present of opcionPresentacion' (click)="selectedPresentacion=present"><a>{{present}}</a></li>
		</ul>
	</div>
	<div>
<button type="submit" class="btn btn-primary">Generar PDF</button>
<button type="submit" class="btn btn-primary">Aceptar</button>
</div>
	</form>
</div>
